menu {
    grid-area : menu;
}
header {
    grid-area : header;
}
intro {
    grid-area : intro;
}
intro-par {
    grid-area : intro-par;
}
lesson-head {
    grid-area : less-h;
}
lesson-list {
    grid-area : less-list;
}
links {
    grid-area : links;
}
contact {
    grid-area : contact;
}
footer {
    grid-area : footer;
}

.grid {
    display: grid;
    grid-gap: 20px;
    grid-columns: 300px;
    grid-template-area:
        "menu"
        "header"
        "intro"
        "intro-par"
        "less-h"
        "less-list"
        "links"
        "contact"
        "footer";
}


