@import url('https://fonts.googleapis.com/css?family=Cormorant+Upright');
body {
    max-width: 980px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
}

.main_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_header #main_header_pic {
    width: 70%;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: 1%;
}

.menu a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: sans-serif;
}

.menu a:hover {
    text-decoration: underline;
}

.intro {
    display: flex;
    justify-content: center;
    font-family: 'Cormorant Upright', serif;
    font-size: 1.2rem;
}

.intro_head {
    display: flex;
    justify-content: center;
    font-family: 'Cormorant Upright', serif;
    font-size: 1.7rem;
}

#gen_pic {
    width: 50%;
    float: left;
    padding-right: 2%;
}

.intro_p {
    padding-left: 2%;
    padding-right: 2%;
    font-family: 'Cormorant Upright', serif;
    font-size: 1.2rem;
}

.lesson_head {
    display: flex;
    justify-content: center;
    font-family: 'Cormorant Upright', serif;
    font-size: 1.7rem;
}

.lesson_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2%;
    padding: 2%;
}

#lesson1,
#lesson2,
#lesson3,
#lesson4 {
    width: 100%;
}

.button_lesson {
    width: 100%;
    padding: 2%;
    background-color: orange;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button_lesson:hover {
    background-color: white;
    border: 2px solid orange;
    color: black;
}

.link_head {
    display: flex;
    justify-content: center;
    font-family: 'Cormorant Upright', serif;
    font-size: 1.5rem;
}

.link_pics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.link_pic #facebook,
.link_pic #instagram,
.link_pic #youtube {
    max-width: 20%;
    padding-left: 40%;
}

.contact_head {
    display: flex;
    justify-content: center;
    font-family: 'Cormorant Upright', serif;
    font-size: 1.7rem;
}

.contact {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2%;
    padding: 2%;
}

.contact .contact_message {
    grid-column: 1;
    grid-row: 1 / 4;
}

.contact #contact_message {
    width: 100%;
    height: 93%;
}

.contact #contact_name {
    width: 100%;
}

.contact #contact_email {
    width: 100%;
}

.contact #submit {
    width: 100%;
    background-color: orange;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
}

footer {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
}

@media (max-width: 700px) {
    .link_pic #facebook,
    .link_pic #instagram,
    .link_pic #youtube {
        max-width: 30%;
        padding-left: 35%;
    }
}

@media (max-width: 400px) {

    .main_header {
        order: -1;
    }
    .main_header #main_header_pic {
        width: 100%;
    }

    .intro_p #gen_pic {
        width: 100%;
    }

    .lesson_list {
        grid-template-columns: 1fr;
        grid-column-gap: 2%;
        padding: 2%;
    }
    .link_head {
        margin-top: 54px;
    }
    .contact {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 2%;
        padding: 2%;
    }
    .link {
        padding: 3%
    }
    .contact {
        display: grid;
        grid-template-rows: 3fr repeat(3, 1fr);
    }
    .link_pic #facebook,
    .link_pic #instagram,
    .link_pic #youtube {
        max-width: 50%;
        padding-left: 25%;
    }
}
